<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<mappers>
		<mapper resource="com/afei/mapping/IncomeMapper.xml" />
		<mapper resource="com/afei/mapping/ItemMapper.xml" />
		<mapper resource="com/afei/mapping/ExpenditureMapper.xml" />
		<mapper resource="com/afei/mapping/UserMapper.xml" />
		<mapper resource="com/afei/mapping/BalanceMapper.xml" />
		<mapper resource="com/afei/mapping/PayMethodMapper.xml" />
	</mappers>
</configuration> 